<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.overture.ide.vdmpp.debug.launchConfigurationType">
<booleanAttribute key="vdm_launch_config_create_coverage" value="true"/>
<stringAttribute key="vdm_launch_config_default" value="SafetyNetHospital"/>
<booleanAttribute key="vdm_launch_config_enable_logging" value="false"/>
<stringAttribute key="vdm_launch_config_expression" value="new SafetyNetHospital().numHospitals()"/>
<stringAttribute key="vdm_launch_config_method" value="numHospitals()"/>
<stringAttribute key="vdm_launch_config_module" value="SafetyNetHospital()"/>
<stringAttribute key="vdm_launch_config_project" value="MFES"/>
<booleanAttribute key="vdm_launch_config_static_method" value="false"/>
</launchConfiguration>
